.Content {
    text-align: center;
    color: #08596A;
}

.Content h2 {
    text-transform: uppercase;
    font-family:'Roboto', serif;
}

.SocialIconsAlign {
    display:inline-block;
}

.SocialIconsAlign a {
    font-size: 175%;
    padding: 0 5px;
    color: #000000;
}

.SocialIconsAlign a:hover {
    color: #08596A;
}

/* FOOTNOTE */
#Disclaimer {
    font-size: 90%;
}

p {
    font-size: large;
    margin: 80px;

}

.box{
    border: 1px solid rgb(123, 226, 115);
}

.Text {
    font-size: 15px;
    font-weight: bold;
}



